@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* shared styles */
.flex {
  display: flex;
}
.text-primary {
  color: #ff900e;
}
.text-gray {
  color: #424242;
}
.text-light-gray {
  color: #727272;
  padding: 10px;
}
.bg-light {
  background-color: rgba(255, 144, 14, 0.1);
}
.btn-primary {
  background-color: #ff900e;
  color: #ffffff;
  padding: 15px 18px;
  border: none;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
main > section {
  margin-top: 100px;
  margin-bottom: 100px;
}
.section-title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 18px;
}

/* navbar styles */
.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  font-size: 2rem;
  font-weight: bold;
}
.nav-item {
  list-style: none;
  margin-right: 1.8rem;
}
.nav-link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}
.navbar,
.banner,
main {
  max-width: 1090px;
  margin: 0 auto;
  padding-top: 10px;
}

/* banner related style */
.banner-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}
.banner-title {
  font-weight: 700;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
.banner-description {
  font-size: 1rem;
  margin-bottom: 20px;
}
.banner-img {
  width: 100%;
  padding: 10px;
}

/* team and feature related style */
.teams {
  align-items: center;
}
.team-img-container {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.team-img {
  width: 100%;
}
.our-features {
  width: 50%;
  max-width: 400px;
  margin: 0 auto;
}

#quick-list {
  padding: 0px;
  font-weight: 400;
}
.feature-description {
  margin-bottom: 20px;
}

/* Feature Section style */
.features {
  gap: 100px;
  padding: 10px;
}
#feature-section-title {
  border-left: 5px solid #ff900e;
  padding-left: 15px;
}
.feature-card {
  padding: 25px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.feature-card .feature-title {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 8px;
}
.feature-img {
  width: 562px;
}
#experience-badge {
  padding: 30px 32px;
  font-size: 1rem;
  font-weight: 500;
  margin-left: -80px;
  margin-top: -100px;
}
.experience-year {
  font-size: 3rem;
  font-weight: 700;
}

/* Some Facts related style */

.fact-description {
  max-width: 400px;
}
.facts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 20px;
}
.fact-card {
  width: 180px;
  height: 180px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fact-number {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Sponsor related style */

.sponsor-info {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}
.sponsor-compaines {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.sponsor-compaines img {
  filter: grayscale(100%);
}

/* Responsive media Query */

@media screen and (max-width: 576px) {
  .navbar,
  .nav-links,
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container,
  .facts-container,
  .sponsor-compaines {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
  }
  .facts-container {
    justify-items: center;
  }
  .sponsor-compaines {
    justify-items: center;
    gap: 30px;
  }
  .team-img-container,
  .our-features {
    width: 100%;
  }
  .our-features {
    margin-top: 20px;
  }
  .feature-img {
    width: 100%;
  }
  #experience-badge {
    margin-left: 80px;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .teams,
  .features {
    flex-direction: column;
  }
  .team-img-container,
  .our-features {
    width: 100%;
    padding-top: 30px;
  }
  .facts-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
  }
  .facts-container {
    justify-items: center;
  }
  .sponsor-compaines {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }
  .feature-img {
    width: 100%;
  }
  #experience-badge {
    margin-left: 80px;
    margin-top: -100px;
  }
}
